# Berlin LOR Monitoring Social Urban Development (source-aligned) - Sample Notebook

## Explore data

In [1]:

import pandas as pd        

# Read csv file
dataframe = pd.read_csv("./data/03-gold/berlin-lor-monitoring-social-urban-development-2021-00-csv/berlin-lor-monitoring-social-urban-development-2021-00-4-3-districts.csv")

In [2]:

# Display 5 first rows
dataframe.head()

   id  ...  k13_balance_of_migration_of_children_below_6
0   1  ...                                      61.20044
1   2  ...                                      33.30412
2   3  ...                                       7.61816
3   4  ...                                       5.72978
4   5  ...                                      63.70053

[5 rows x 15 columns]

In [3]:

# Display dataframe info
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 15 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            12 non-null     int64
 1   inhabitants                                   12 non-null     int64
 2   k01_youth_unemployment                        12 non-null     float64
 3   k02_single_parent_households                  12 non-null     float64
 4   k03_old_age_poverty                           12 non-null     float64
 5   k04_children_with_migration_background        12 non-null     float64
 6   k05_inhabitants_with_migration_background     12 non-null     float64
 7   k06_change_proportion_of_foreigner            12 non-null     float64
 8   k07_foreign_transfer_recipients               12 non-null     float64
 9   k08_urban_apartments                          12 non-null     float64
 10  k09_simple_residential_area                   12 non-null     float64
 11  k10_duration_of_residence_over_5_years        0 non-null      float64
 12  k11_migration_volume                          0 non-null      float64
 13  k12_balance_of_migration                      0 non-null      float64
 14  k13_balance_of_migration_of_children_below_6  12 non-null     float64
dtypes: float64(13), int64(2)
memory usage: 1.5 KB

In [4]:

# Describe dataframe
dataframe.describe()

              id  ...  k13_balance_of_migration_of_children_below_6
count  12.000000  ...                                     12.000000
mean    6.500000  ...                                     32.972562
std     3.605551  ...                                     24.363602
min     1.000000  ...                                      3.344450
25%     3.750000  ...                                     17.394860
50%     6.500000  ...                                     27.306780
75%     9.250000  ...                                     52.024107
max    12.000000  ...                                     75.868820

[8 rows x 15 columns]